/*scroll bar for safari & chrome*/

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	height: 1px;
	display: block;
	background-color: #101010;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
	height: 1px;
	display: block;
	background-color: #101010;
}

::-webkit-scrollbar-track-piece {
	background-color: #101010;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal
{
	background-color: #f01010;
	border: 2px solid #808080;
	/*border: 1px solid #639ACE; */
	-webkit-border-radius: 6px;
}

