!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
    script(src="http://swfobject.googlecode.com/svn/trunk/swfobject/swfobject.js")
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/script.js')
  body!= body

// vim: ts=2 sw=2 sts=0 et
